<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Registration Form</title>
</head>
<style>
    .success {color: green}
</style>
<body>
<li>Customer Registration Successfull</li>
<br/><br>

  Customer is confirmed: <span th:text="${customerAtt.firstName+ ' ' + customerAtt.lastName}" class="success"></span>
<br><br>
Free pass: <span th:text="${customerAtt.freePasses}" class="success"></span>

<br><br>
postal Code: <span th:text="${customerAtt.postalCode}" class="success"></span>

<br><br>
course Code: <span th:text="${customerAtt.courseCode}" class="success"></span>

</form>
</body>
</html>