<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Registration form</title>
</head>
<body>
 <h3>Student Registration Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="post">
    firstName: <input type="text" name="firstName" th:field="*{firstName}" placeholder="Enter FirstName">
    <br><br>
    lastName: <input type="text" name="lastName" th:field="*{lastName}" placeholder="Enter LastName" >
    <br><br>
    country: <select name="country" th:field="*{country}">
        <option value="">--</option>
        <option th:each="tempCountry:${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
   </select>

    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>